.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group test
      %ul.main-header__left-box__member-list Member：
    .main-header__edit-btn Edit

  .messages
    .message
    .message__upper-info  
      %p.message__upper-info__talker ウチヤマ
      %p.message__upper-info__date 2019/11/07(Thu) 18:59:32
    %p.message__text テステス

  .form
    %form.new_message
      .input-box
        %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}
        %label.input-box__image{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}
      %input.submit-btn{:name => "commit", :type => "submit", :value => "Send"}