.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name ウチヤマ
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group 
          = link_to "#" do
            %i.fa.fa-edit.fa-sm
        %li.side-header__box__menu__edit-user
          = link_to "#" do
            %i.fa.fa-cog.fa-sm
  .groups
    .groups__group
      %p.groups__group__name test
      %p.groups__group__latest-message まだメッセージがありません
    .groups__group
      %p.groups__group__name test2
      %p.groups__group__latest-message まだメッセージがありません