.chat-side {
  width: 300px;
  color: white;
  display: inline-block;
}

.side-bar{
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;

}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;

}

.header__name{
  font-weight: bold;
}

.header__lists{
  display: flex;
  color: white;
}

a{
  color: white;
}

.fa{
  padding-left: 5px;
}



// .icon{
//   margin-left: 5px;
// }

// .fa-sm {
//   margin-left: 5px;
//   color: white;
// }

// .side-header{
//   background-color: #253141;
//   height: 100px;
//   display: flex;
//   align-items: center;
//   padding: 0 20px;

//   &__box{
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   font-weight: bold;
//   }

//   &__box__menu{
//   display: flex;
//   }
  
//   &__box__menu__new-group{
//   margin-left: 0.3rem;
//   }
// }

// .groups{
//   height: calc(100vh - 100px);
//   background-color: #2f3e51;
//   padding: 20px 20px 0;
//   overflow: scroll;

//   &__group{
//   margin-bottom: 40px;

//     &__name {
//     font-size: 15px;
//     margin-bottom: 5px;
//     }

//     &__latest-message {
//       font-size: 11px;
//     }
//   }
// }


.groups{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
}

.group{
  margin-bottom: 40px;
}

.group__name{
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
}

.group__message{
  color: white;
  font-size: 11px;
}

a {
  text-decoration: none;
}